.row.promo-image
  img(src="images/better-call-saul.jpg")
  a(href="#/call").button.large: i.fa.fa-caret-right
    span Watch the clip here
.row.promo-text
  include ../../templates/partials/_saul_promo
.row.promo-link
  a(href="#/wrong_number").button.large Watch the clip here
    span: i.fa.fa-long-arrow-right
