.row.sauls-ad
  img(src="images/saul_ad.jpg")
.row.panel.callout
  .small-8.columns
    h2 Uh-Oh - Saul isn't here right now!
    p ...but please leave a message and he will get back to you as soon as humanly possible.
    p In the meantime remember - dont answer any questions without consulting your lawyer first.
  .small-4.columns
    a(href="#/").button.large: i.fa.fa-caret-right
      span Take me back...

