.row.walter
  img(src="images/angry_walter.jpg")
.row.panel.callout
  .small-8.columns
    h2 Wrong Number
    p ...the names not Saul.
  .small-4.columns
    a(href="#/").button.large: i.fa.fa-caret-right
      span Take me back...

