footer.row
  .row
    .small-offset-1.small-6.columns.company-info
      p StreamCo Media Pty Ltd
      p ABN 94 56 34 23
  .row
    .small-offset-1.small-6.columns.links
      .small-3.columns
        a(href="#") Unsubscribe
      .small-4.columns
        a(href="https://www.stan.com.au/privacy-policy") Privacy Policy
